<!-- 
    * Use class "bg-image-scroll-horizontal" or "bg-image-scroll-vertical" to enable background image scrolling animation (otherwise use class "bg-image" or "bg-image-fixed").
    * Use class "full-page" to enable fullscreen intro. 
-->



<!-- Element cover -->
<div class="cover bg-transparent-6-dark"></div>


<!-- * Use classes "align-center" and "text-center" to align caption to the center.-->
<div intro-caption-component class="intro-caption bg-transparent-8-dark text-gray-3 align-center text-center"></div>
<!-- End intro caption -->
