<!-- Begin page preloader -->
<div id="preloader">
    <div class="pulse bg-main"></div>
</div>

<ngx-spinner bdColor="rgba(20, 20, 20, 0.8)" size="large" color="#fff" type="line-scale"></ngx-spinner>
<!-- Header/Navigation -->
<!-- 
* Use class "show-hide-on-scroll" to hide header on scroll down and show on scroll up.
* Use class "fixed-top" to set header to fixed position.
-->
<header id="header" class="fixed-top" header-component></header>

<!-- Body Content -->
<div id="body-content">
    
    <!-- Load Views with App router-->
    <router-outlet></router-outlet>

    <!-- Footer -->
    <footer id="footer" footer-component></footer>
      
</div>
